.sliderDiv {
  background: -moz-linear-gradient(
    90deg,
    hsla(235, 100%, 78%, 1) 0%,
    hsla(222, 77%, 33%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(235, 100%, 78%, 1) 0%,
    hsla(222, 77%, 33%, 1) 100%
  );
}
.sliderDiv .sliderText h2 {
  text-shadow: 1px 1px 2px rgb(209, 209, 209);
}
